@model DataMashUp.DTO.IndexDTO
@{
	ViewData["Title"] = "Home Page";
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Booking Form HTML Template</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="/css/style.css" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>

<body>

	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-md-push-5" id="map">
						<div class="booking-cta">
							<h1>Right Diet</h1>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi facere, soluta magnam consectetur molestias itaque
								ad sint fugit architecto incidunt iste culpa perspiciatis possimus voluptates aliquid consequuntur cumque quasi.
								Perspiciatis.
							</p>
						</div>
					</div>
					<div class="col-md-4 col-md-push-5">
						<div class="booking-cta">
							<h1>Breaking News</h1>
							<p class="mover">
								@foreach (var item in Model.Articles)
								{
									<p class="mover">
									<a href="@item.Url"><span style="color:aliceblue">@item.Title</span></a>
									</p>
								}
							</p>

						</div>
					</div>
					<div class="col-md-4 col-md-pull-7">
						<div class="booking-form">
							<form asp-controller="Home" asp-action="Prescription">
								<div class="col-sm-6">
										<div class="form-group">
											
											<span class="form-label">Full Name</span>
											<input asp-for="FullName"  class="form-control" type="text" required />
										@*	<span style="color:red" id="heightError" class="error-message form-label text-danger"></span>*@
										</div>
									</div>

								
							<div class="col-sm-6">
							<div class="form-group">
								<span class="form-label">Date of birth</span>
								<input class="form-control" type="date" asp-for="DOB" placeholder="Select your birthdate" required>
							</div>
						</div>
								<div class="col-sm-6">
									<div class="form-group">
										<span class="form-label">Gender</span>

										<select class="form-control" asp-for="Gender" required>
											<option value="">Select Gender</option> <!-- Default option -->
											<option value="MALE">Male</option>
											<option value="FEMALE">Female</option>

											@*@foreach (var item in Model.Locations)
											{
											<option value="@item.Value">@item.Text</option>
											}*@
										</select>

										<span class="select-arrow"></span>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<span class="form-label">Activity Level </span>

										<select class="form-control" asp-for="ActivityLevel" required>
											<option value="">Select Gender</option> <!-- Default option -->
											<option value="MOSTLY_SEDENTARY"> <span style="font-size:x-small">mostly sedentary</span></option>
											<option value="SOMEWHAT_SEDENTARY"><span style="font-size:x-small">somewhat sedentary</span></option>
											<option value="SOMEWHAT_ACTIVE"><span style="font-size:x-small">somewhat active</span></option>
											<option value="MODERATELY ACTIVE"> <span style="font-size:x-small">moderately active</span></option>
											<option value="VERY_ACTIVE"> <span style="font-size:x-small">very active</span></option>


										</select>

										<span class="select-arrow"></span>
									</div>
								</div>
								<div class="row">
									
									<div class="col-sm-6">
										<div class="form-group">
											
											<span class="form-label">Height (m)</span>
											<input asp-for="Height" id="height" class="form-control" type="number" min="1" step="any" required />
										@*	<span style="color:red" id="heightError" class="error-message form-label text-danger"></span>*@
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<span class="form-label">Weight <span style="font-size:x-small">(kg)</span></span>
											<input id="weight" asp-for="Weight" type="number" class="form-control" min="1" step="any"  required />
									@*		<span style="color:red" id="weightError" class="error-message form-label text-danger"></span>*@
										
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<span class="form-label">BMI <span style="font-size:x-small"> (kg/m^2)</span></span>
											<input asp-for="BMI" id="bmi" class="form-control" readonly  />
											<span class="select-arrow"></span>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<span class="form-label">BMI Interpretation <span style="font-size:x-small"></span></span>
											<input asp-for="MBICondition" id="bmiInterpretation" class="form-control" readonly />
											<span class="select-arrow"></span>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<span class="form-label"><span style="font-size:x-small">Recomended weight</span></span>
											<input asp-for="WeightRecomendation" id="weightRecomendation" class="form-control" readonly />
										
										</div>
									</div>
									<input  hidden ="hidden" asp-for="Locations" value="@Model.Locations"/>
																		<div class="col-sm-5">
										<div class="form-group">
											<span class="form-label">Weight Goal <span style="font-size:x-small"></span></span>
											<input asp-for="WeightGoal" id="weightGoal" type="number"  step="any" min="1"  class="form-control" required />
											<span id="weightGoalError" style="color: red;"></span>
										</div>
									</div>

									<div class="col-sm-6">
									<div class="form-group">
										<span class="form-label">Diabetic</span>

										<select class="form-control" asp-for="IsDiabetic" required>
											<option value="">Select Diabetic status</option> <!-- Default option -->
											<option value="True">True</option>
											<option value="False">False</option>

										</select>


									</div>
								</div>

									<div class="col-sm-6">
										<div class="form-group">
										<span class="form-label"><span style="font-size:x-small">Diet Preference </span></span>

										<div class="checkbox-dropdown dropup">
											<button class="btn btn-secondary dropdown-toggle" type="button" id="checkboxDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
												Select preference
											</button>
											<input  asp-for="DietPreference" hidden id="dietPreference"/>
											<div class="dropdown-menu" aria-labelledby="checkboxDropdown" style="max-height: 200px; overflow-y: auto;">
												@foreach(var item in Model.Ingredients)
												{
													<div class="form-check">
														<input class="form-check-input" type="checkbox" id="ingredient-@item.id" value="@item.id" name="selectedIngredients">
														<label class="form-check-label" for="ingredient-@item.id">@item.name</label>
													</div>
												}
											</div>
										</div>
										</div>
									</div>

							
								
								</div>								
								<div class="form-btn">
									<button type="submit" class="submit-btn">Prescribe diet</button>
								@*	<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>*@

								</div>
							</form>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Modal -->

	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
	<script>
    $(document).ready(function () {

        // Function to interpret BMI
        function interpretBMI(bmi) {
            if (bmi < 18.5) {
                return "Underweight";
            } else if (bmi >= 18.5 && bmi < 24.9) {
                return "Normal Weight";
            } else if (bmi >= 25 && bmi < 29.9) {
                return "Overweight";
            } else {
                return "Obese";
            }
        }

        // Event handler for height and weight change
        $('#height, #weight').on('change', function () {
            var weight = parseFloat($("#weight").val());
            var height = parseFloat($("#height").val());
            const lowerBMI = 18.5;
            const upperBMI = 24.9;

            var errorSpan = document.getElementById("heightError");
            var weightError = document.getElementById("weightError");
            var bmi = 0;

            if (weight > 0 && height > 0) {
                bmi = weight / (height * height);
                $("#bmi").val(bmi);
            } else {
                $("#bmi").val(bmi);
            }

            var bmiValue = parseInt($("#bmi").val());
            var bmiInterpretation = interpretBMI(bmi);

            const lowerWeight = lowerBMI * Math.pow(height, 2);
            const upperWeight = upperBMI * Math.pow(height, 2);
            var lw = lowerWeight.toFixed(2);
            var uw = upperWeight.toFixed(2);
            var weightRecomendation = lw + " to " + uw + " kg";

            if ($("#bmi").val() !== "0") {
                $("#bmiInterpretation").val(bmiInterpretation);
                $("#weightRecomendation").val(weightRecomendation);
            }
        });

		$('#weightGoal').on('change', function (){
		
			var weightGoalValue = $(this).val();
			
			var weight = parseFloat($("#weight").val());
            var height = parseFloat($("#height").val());
            const lowerBMI = 18.5;
            const upperBMI = 24.9;

			const lowerWeight = lowerBMI * Math.pow(height, 2);
            const upperWeight = upperBMI * Math.pow(height, 2);
            var lw = lowerWeight.toFixed(2);
            var uw = upperWeight.toFixed(2);
			var weightGoalErrorSpan = document.getElementById("weightGoalError");
			
				if (isNaN(weightGoalValue)) {
					weightGoalErrorSpan.textContent = "Please enter a valid number.";
				} else if (weightGoalValue < lw || weightGoalValue > uw) {
					weightGoalErrorSpan.textContent = "Weight goal should be within the recommended weight range";
				} else {
					weightGoalErrorSpan.textContent = "";
				}
		
		});
        // Event handler for weight goal input


        // Initialize an array to store selected values
        var selectedValues = [];

        // Event handler for checkbox change
        $('.form-check-input').change(function () {
            var value = $(this).val();

            if ($(this).prop('checked')) {
                // If checkbox is checked, add the value to the array
                selectedValues.push(value);
            } else {
                // If checkbox is unchecked, remove the value from the array
                selectedValues = selectedValues.filter(function (item) {
                    return item !== value;
                });
            }

            $('#dietPreference').val(selectedValues.join(','));

        });

        // Event handler for dropdown toggle
        $('#checkboxDropdown').on('hide.bs.dropdown', function () {
            // Store the selected values in a hidden input or send them to the server as needed
            $('#hiddenSelectedValues').val(selectedValues.join(','));
			 $('#dietPreference').val(selectedValues.join(','));
            // Log the selected values (for demonstration purposes)
            console.log(selectedValues);
        });


    });
</script>


</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
