@model DataMashUp.DTO.IndexDTO
@{
	ViewData["Title"] = "Home Page";
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Booking Form HTML Template</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="css/style.css" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body>
	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-md-push-5">
						<div class="booking-cta">
							<h1>Right Diet</h1>
							<p>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi facere, soluta magnam consectetur molestias itaque
								ad sint fugit architecto incidunt iste culpa perspiciatis possimus voluptates aliquid consequuntur cumque quasi.
								Perspiciatis.
							</p>
						</div>
					</div>
					<div class="col-md-4 col-md-push-5">
						<div class="booking-cta">
							<h1>Breaking News</h1>
							<p class="mover">
								@foreach (var item in Model.Articles)
								{
								<p class="mover">
									<a href="@item.Url"><span style="color:aliceblue">@item.Title</span></a>
									</p>
								}
							</p>
						</div>
					</div>
					<div class="col-md-4 col-md-pull-7">
						<div class="booking-form">
							<form asp-controller="Home" asp-action="Index">
								<div class="form-group">
									<span class="form-label">Diet Descript</span>
									<input class="form-control" type="text" placeholder="Enter a destination or hotel name">
								</div>
								@*<div class="row">
									<div class="col-sm-6">
										<div class="form-group">
											<span class="form-label">start date</span>
											<input class="form-control" type="date" required>
										</div>
									</div>
									<div class="col-sm-6">
										<div class="form-group">
											<span class="form-label">end date</span>
											<input class="form-control" type="date" required>
										</div>
									</div>
								</div>*@
								<div class="row">
									<div class="col-sm-4">
										<div class="form-group">
											
											<span class="form-label">Height</span>
											<input asp-for="Height" id="height" class="form-control" type="number" min="1" required />
										@*	<span style="color:red" id="heightError" class="error-message form-label text-danger"></span>*@
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<span class="form-label">Weight</span>
											<input id="weight" asp-for="Weight" type="number" class="form-control" min="1" required />
									@*		<span style="color:red" id="weightError" class="error-message form-label text-danger"></span>*@
										
										</div>
									</div>
									<div class="col-sm-4">
										<div class="form-group">
											<span class="form-label">BMI</span>
											<input asp-for="BMI" id="bmi" class="form-control"  />
											<span class="select-arrow"></span>
										</div>
									</div>
									<input  hidden ="hidden" asp-for="Locations" value="@Model.Locations"/>
									<div class="col-sm-6">
										<div class="form-group">
											<span class="form-label">Health Condition</span>

											<select class="form-control" asp-for="HealthCondition" required>
												<option value="">Select condition</option> <!-- Default option -->
												<option value="16">Diabetes Type-2</option>
												<option value="17">OverWeight</option>
												@*@foreach (var item in Model.Locations)
												{
													<option value="@item.Value">@item.Text</option>
												}*@
											</select>
											
											<span class="select-arrow"></span>
										</div>
									</div>
								</div>
								
								<div class="form-btn">
									<button type="submit" class="submit-btn">Search</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		$(document).ready(function () {
			$('#height, #weight').on('change', function () {

				var weight = parseFloat(document.getElementById("weight").value);
				var height = parseFloat(document.getElementById("height").value);
				var errorSpan = document.getElementById("heightError");
				var weightError = document.getElementById("weightError");

				//if (isNaN(weight) || === 0) {
	
				//	$("#bmi").val(0);
				//	errorSpan.textContent = "Please enter a number greater than 0";				
				//	return;
				//}

				//if (isNaN(height) ||  height === 0) {
				//	$("#bmi").val(0);
				//	weightError.textContent = "Please enter a number greater than 0";
				
				//	return;
				//}
				//errorSpan.textContent = "";
				//weightError.textContent = "";
				if (weight > 0 && height > 0) {
					var bmi = weight / (height * height);
					$("#bmi").val(bmi);
				}
				else{
					$("#bmi").val(bmi);
				}
	

			});
		});

	</script>

</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
